/* Bootstrap Stylesheet Override */
    .table td { border-top: none !important; }
* { transition: 0.25s; }
.panedesc { font-size: 0.95em; margin-bottom: 24px;}
.panel-heading { padding: 8px 16px; font-weight: bold; text-align: center; }
.form-group button { width: 100%; }

#inbounds .row, #outbounds .row {
    margin: 0 !important; padding: 0 8px;
}

#inbounds .row div#inbounds-list,
#outbounds .row div#outbounds-list {
    padding: 0; min-height: 540px;
}

#inbounds .row div#inbounds-list,
#outbounds .row div#outbounds-list {
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 16px;
}

#inbounds .row .inlist-button,
#outbounds .row .inlist-button {
    float: left;
    width: calc(100% - 48px);
    margin: 8px 24px;
    transition: 0.25s;
}

#inbounds .row div#inbounds-list .inbound-obj,
#outbounds .row div#outbounds-list .outbound-obj { cursor: pointer; }

#inbounds .row div#inbounds-list .inbound-obj:first-child .opr-setprimary,
#inbounds .row div#inbounds-list .inbound-obj:first-child .opr-delete,
#outbounds .row div#outbounds-list .outbound-obj:first-child .opr-setprimary,
#outbounds .row div#outbounds-list .outbound-obj:first-child .opr-delete  { display: none; }

#inbounds .row div#inbounds-list .inbound-icon,
#outbounds .row div#outbounds-list .outbound-icon { width: 32px; }
#inbounds .row div#inbounds-list .inbound-operation,
#outbounds .row div#outbounds-list .outbound-operation { text-align: right; }

.routing-rule-item td { padding: 0 !important; }
.routing-rule-item td > div {
    padding: 8px;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-shadow: 0 0 1px #ddd;
}

.dns-textarea {
    margin-top: 16px;
    margin-bottom: 20px;
}

.loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #161616;
    background: white;
    text-align: center;
    padding: 10% 0;
    font-size: 2rem;

}


/* Theme Dark */
html.theme-dark body {
    background-color: #212121;
}

html.theme-dark * {
    color: #eee;
}