/* Bootstrap Stylesheet Override */
    .table td { border-top: none !important; }
* { transition: 0.25s; }
.panedesc { font-size: 0.95em; margin-bottom: 24px;}
.panel-heading { padding: 8px 16px; font-weight: bold; text-align: center; }
.form-group button { width: 100%; }

#inbounds .row { margin: 0 !important; padding: 0 8px; }
#inbounds .row div#inbounds-list { padding: 0; min-height: 540px; }

#inbounds .row div#inbounds-list {
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 16px;
}

#inbounds .row .inlist-button {
    float: left;
    width: calc(100% - 48px);
    margin: 8px 24px;
    transition: 0.25s;
}

#inbounds .row div#inbounds-list .inbound-obj { cursor: pointer; }
#inbounds .row div#inbounds-list .inbound-obj:first-child .opr-setprimary { display: none; }
#inbounds .row div#inbounds-list .inbound-obj:first-child .opr-delete { display: none; }
#inbounds .row div#inbounds-list .inbound-icon { width: 32px; }
#inbounds .row div#inbounds-list .inbound-operation { text-align: right; }


/* Theme Dark */
html.theme-dark body {
    background-color: #212121;
}

html.theme-dark * {
    color: #eee;
}